In [45]:
%matplotlib inline

import accelerate
#import numbapro
import mkl
#import iopro

# General libraries.
from __future__ import division
from collections import Counter
import csv
import dateutil
import os
import pandas as pd
import re
import numpy as np
import matplotlib.pyplot as plt

# SK-learn libraries for preprocessing.
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder # for integer values
from sklearn.feature_extraction import DictVectorizer as DV

# SK-learn libraries for learning.
from sklearn.pipeline import Pipeline
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import BernoulliNB
from sklearn.naive_bayes import MultinomialNB
from sklearn import svm
from sklearn.mixture import GMM
from sklearn.grid_search import GridSearchCV
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.base import TransformerMixin


# SK-learn libraries for evaluation.
from sklearn.metrics import confusion_matrix
from sklearn import metrics
from sklearn.metrics import classification_report

In [2]:
data_path = "data"
submissions_path = "submissions"
if not data_path or not submissions_path:
    raise Exception("Set the data and submission paths in competition_utilities.py!")

def parse_date_maybe_null(date):
    if date:
        return dateutil.parser.parse(date)
    return None

df_converters = {"Dates": dateutil.parser.parse}

def get_reader(file_name="train.csv"):
    reader = csv.reader(open(os.path.join(data_path, file_name)))
    header = reader.next()
    return reader

def get_header(file_name="train.csv"):
    reader = csv.reader(open(os.path.join(data_path, file_name)))
    header = reader.next()
    return header

def get_dataframe(file_name="train.csv"):
    return pd.io.parsers.read_csv(os.path.join(data_path, file_name), converters = df_converters)

    
def write_submission(file_name, predictions):
    writer = csv.writer(open(os.path.join(submissions_path, file_name), "w"), lineterminator="\n")
    writer.writerows(predictions)

In [4]:
TD = get_dataframe("test.csv")

In [5]:
print TD.head()

   Id               Dates DayOfWeek PdDistrict                   Address  \
0   0 2015-05-10 23:59:00    Sunday    BAYVIEW   2000 Block of THOMAS AV
1   1 2015-05-10 23:51:00    Sunday    BAYVIEW        3RD ST / REVERE AV
2   2 2015-05-10 23:50:00    Sunday   NORTHERN    2000 Block of GOUGH ST
3   3 2015-05-10 23:45:00    Sunday  INGLESIDE  4700 Block of MISSION ST
4   4 2015-05-10 23:45:00    Sunday  INGLESIDE  4700 Block of MISSION ST

            X          Y
0 -122.399588  37.735051
1 -122.391523  37.732432
2 -122.426002  37.792212
3 -122.437394  37.721412
4 -122.437394  37.721412

In [6]:
test_data = TD.copy(deep=True)

In [3]:
dataframe = get_dataframe()

In [8]:
number_of_categories = dataframe['Category'].nunique()
category_names = sorted(dataframe['Category'].unique())
print number_of_categories
print category_names

39
['ARSON', 'ASSAULT', 'BAD CHECKS', 'BRIBERY', 'BURGLARY', 'DISORDERLY CONDUCT', 'DRIVING UNDER THE INFLUENCE', 'DRUG/NARCOTIC', 'DRUNKENNESS', 'EMBEZZLEMENT', 'EXTORTION', 'FAMILY OFFENSES', 'FORGERY/COUNTERFEITING', 'FRAUD', 'GAMBLING', 'KIDNAPPING', 'LARCENY/THEFT', 'LIQUOR LAWS', 'LOITERING', 'MISSING PERSON', 'NON-CRIMINAL', 'OTHER OFFENSES', 'PORNOGRAPHY/OBSCENE MAT', 'PROSTITUTION', 'RECOVERED VEHICLE', 'ROBBERY', 'RUNAWAY', 'SECONDARY CODES', 'SEX OFFENSES FORCIBLE', 'SEX OFFENSES NON FORCIBLE', 'STOLEN PROPERTY', 'SUICIDE', 'SUSPICIOUS OCC', 'TREA', 'TRESPASS', 'VANDALISM', 'VEHICLE THEFT', 'WARRANTS', 'WEAPON LAWS']

In [9]:
df = dataframe.copy(deep=True)
min_x, max_x = np.min(df['X']), np.max(df['X'])
min_y, max_y = np.min(df['Y']), np.max(df['Y'])
print (min_x, max_x,min_y, max_y)
# Remove outliers:
print max(df['Dates'])

df.loc[df['X'] > -122.3, 'X'] = -122.3
df.loc[df['Y'] > 37.8, 'Y'] = 37.8

grid_size = 10
grid_width = np.max(df['X']) - np.min(df['X'])
grid_height = np.max(df['Y']) - np.min(df['Y'])


x_interval = grid_width/grid_size
y_interval = grid_height/grid_size

min_x, max_x = np.min(df['X']), np.max(df['X'])
min_y, max_y = np.min(df['Y']), np.max(df['Y'])

df['region'] = (10*(np.ceil((df['X'] - min_x)/x_interval)) + (np.ceil((df['Y'] - min_y)/y_interval))).astype(int)

print (min_x, max_x,min_y, max_y)
#df.to_csv(os.path.join(data_path, 'modifiedTrain.csv'))
    
#df.head()

(-122.51364206429, -120.5, 37.707879022413501, 90.0)
2015-05-13 23:53:00
(-122.51364206429, -122.3, 37.707879022413501, 37.799999999999997)

In [10]:
# for writing code, take a small sample so that it doesn't take forever to run
#print dataframe.shape
#df = dataframe.sample(150000)
number_of_categories = df['Category'].nunique()
print number_of_categories
print df.shape

39
(878049, 10)

In [11]:

df.head()

,Dates,Category,Descript,DayOfWeek,PdDistrict,Resolution,Address,X,Y,region
0,2015-05-13 23:53:00,WARRANTS,WARRANT ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599,58
1,2015-05-13 23:53:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599,58
2,2015-05-13 23:33:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",VANNESS AV / GREENWICH ST,-122.424363,37.800000,60
3,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,NORTHERN,NONE,1500 Block of LOMBARD ST,-122.426995,37.800000,60
4,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,PARK,NONE,100 Block of BRODERICK ST,-122.438738,37.771541,47

In [12]:
df.loc[:,'Hour'] = (df.loc[:,'Dates']).dt.hour
df.loc[:,'Month'] = (df.loc[:,'Dates']).dt.month
df.loc[:,'Year'] = (df.loc[:,'Dates']).dt.year
df.loc[:,'Day'] = (df.loc[:,'Dates']).dt.day

# remove 2015 because it is incomplete
# df = df[df['Year'] != 2015]

In [13]:
# Split train data into train and dev 80:20, and separate into X,Y
# train_data = df
# shuffle the data:
df = df.reindex(np.random.permutation(df.index))

# take 80% from the top:
upper = np.floor(len(df)*.8).astype(int)
train_data = df.head(n=upper)
train_labels = train_data.loc[:,('Category')]


# take 20% from the bottom
lower = np.ceil(len(df)*.2).astype(int)
dev_data = df.tail(n=lower)
dev_labels = dev_data.loc[:,('Category')]

In [14]:
del train_data['Dates']
del train_data['Category']
del train_data['Descript']
del train_data['X']
del train_data['Y']
del train_data['Address']
del train_data['Resolution']


del dev_data['Dates']
del dev_data['Category']
del dev_data['Descript']
del dev_data['X']
del dev_data['Y']
del dev_data['Address']
del dev_data['Resolution']

In [15]:
dev_data.head()
train_data.head()

        DayOfWeek PdDistrict  region  Hour  Month  Year  Day
636554  Wednesday   RICHMOND      28    18      5  2006    3
575253   Saturday    CENTRAL      60    12      3  2007   24
837591     Sunday  INGLESIDE      51    23      7  2003   13
87312     Tuesday    TARAVAL      16    16      3  2014   18
545380    Tuesday    CENTRAL      70    12      9  2007    4

In [16]:
test_data = TD.copy(deep=True)
# fix outliers:
min_x, max_x = np.min(test_data.loc[:,'X']), np.max(test_data.loc[:,'X'])
min_y, max_y = np.min(test_data.loc[:,'Y']), np.max(test_data.loc[:,'Y'])

print (min_x, max_x,min_y, max_y)
# df[df[['A']]<0] = 0
print max(test_data['Dates'])

test_data.loc[test_data['X'] > -122.3, 'X'] = -122.3
test_data.loc[test_data['Y'] > 37.8, 'Y'] = 37.8


grid_size = 10
grid_width = np.max(test_data.loc[:,'X']) - np.min(test_data.loc[:,'X'])
grid_height = np.max(test_data.loc[:,'Y']) - np.min(test_data.loc[:,'Y'])


x_interval = grid_width/grid_size
y_interval = grid_height/grid_size

min_x, max_x = np.min(test_data.loc[:,'X']), np.max(test_data.loc[:,'X'])
min_y, max_y = np.min(test_data.loc[:,'Y']), np.max(test_data.loc[:,'Y'])

print (min_x, max_x,min_y, max_y)

(-122.51364206429, -120.5, 37.707879022413501, 90.0)
2015-05-10 23:59:00
(-122.51364206429, -122.3, 37.707879022413501, 37.799999999999997)

In [17]:
test_data['region'] = (10*(np.ceil((test_data['X'] - min_x)/x_interval)) + (np.ceil((test_data['Y'] - min_y)/y_interval))).astype(int)
test_data.head()

,Id,Dates,DayOfWeek,PdDistrict,Address,X,Y,region
0,0,2015-05-10 23:59:00,Sunday,BAYVIEW,2000 Block of THOMAS AV,-122.399588,37.735051,63
1,1,2015-05-10 23:51:00,Sunday,BAYVIEW,3RD ST / REVERE AV,-122.391523,37.732432,63
2,2,2015-05-10 23:50:00,Sunday,NORTHERN,2000 Block of GOUGH ST,-122.426002,37.792212,60
3,3,2015-05-10 23:45:00,Sunday,INGLESIDE,4700 Block of MISSION ST,-122.437394,37.721412,42
4,4,2015-05-10 23:45:00,Sunday,INGLESIDE,4700 Block of MISSION ST,-122.437394,37.721412,42

In [18]:
test_data['Hour'] = (test_data['Dates']).dt.hour
test_data['Month'] = (test_data['Dates']).dt.month
test_data['Year'] = (test_data['Dates']).dt.year
test_data['Day'] = (test_data['Dates']).dt.day
#test_data = test_data[test_data['Year'] != 2015]

del test_data['Dates']
del test_data['X']
del test_data['Y']
del test_data['Address']
del test_data['Id']

In [19]:
train_data.head()
dev_data.head()

        DayOfWeek PdDistrict  region  Hour  Month  Year  Day
590834     Friday  INGLESIDE      54    19     12  2006   29
158766     Friday   NORTHERN      59    22      4  2013    5
147169   Saturday    MISSION      46     0      6  2013    1
633596     Friday   NORTHERN      59     5      5  2006   19
876910  Wednesday    MISSION      55    16      1  2003    8

In [20]:
le = preprocessing.LabelEncoder()
days = train_data.loc[:,'DayOfWeek'].unique()
le.fit(days)
train_data.loc[:,'DayOfWeek'] = le.transform(train_data.loc[:,'DayOfWeek']) 

days = dev_data.loc[:,'DayOfWeek'].unique()
le.fit(days)
dev_data.loc[:,'DayOfWeek'] = le.transform(dev_data.loc[:,'DayOfWeek'])

days = test_data.loc[:,'DayOfWeek'].unique()
le.fit(days)
test_data.loc[:,'DayOfWeek'] = le.transform(test_data.loc[:,'DayOfWeek'])


district = train_data.loc[:,'PdDistrict'].unique()
le.fit(district)
train_data.loc[:,'PdDistrict'] = le.transform(train_data.loc[:,'PdDistrict']) 

district = dev_data.loc[:,'PdDistrict'].unique()
le.fit(district)
dev_data.loc[:,'PdDistrict'] = le.transform(dev_data.loc[:,'PdDistrict']) 

district = test_data.loc[:,'PdDistrict'].unique()
le.fit(district)
test_data.loc[:,'PdDistrict'] = le.transform(test_data.loc[:,'PdDistrict']) 


district = train_data.loc[:,'region'].unique()
le.fit(district)
train_data.loc[:,'region'] = le.transform(train_data.loc[:,'region']) 

district = dev_data.loc[:,'region'].unique()
le.fit(district)
dev_data.loc[:,'region'] = le.transform(dev_data.loc[:,'region']) 

district = test_data.loc[:,'region'].unique()
le.fit(district)
test_data.loc[:,'region'] = le.transform(test_data.loc[:,'region'])

/Users/koza/anaconda2/lib/python2.7/site-packages/pandas/core/indexing.py:461: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s
/Users/koza/anaconda2/lib/python2.7/site-packages/pandas/core/indexing.py:545: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item_labels[indexer[info_axis]]] = value

In [21]:
enc = OneHotEncoder()
train_data_onehot = enc.fit_transform(train_data) 
dev_data_onehot = enc.transform(dev_data)
test_data_onehot = enc.fit_transform(test_data)

# print train_data_onehot.toarray()
print train_data_onehot.shape
# print dev_data_onehot.toarray()
print dev_data_onehot.shape
#print test_data_onehot.toarray()
print test_data_onehot.shape
#print enc.n_values_

#print enc.feature_indices_

#print enc.transform([[0, 1, 1]]).toarray()

(702439, 165)
(175610, 165)
(884262, 165)

In [22]:
#cut out last feature from test data so it matches train data
#test_data_onehot = test_data_onehot[:,0:133]

In [23]:
print test_data_onehot.shape

(884262, 165)

### Add the X Y columns back in, but.. no need to do that since we made regions, so you ca skip this step

In [ ]:
complete_train = np.hstack(( np.vstack(( tdX, tdY)).T, train_data_onehot.toarray() ))
complete_dev = np.hstack(( np.vstack(( ddX, ddY)).T, dev_data_onehot.toarray() ))
complete_test = np.hstack(( np.vstack(( ttdX, ttdY)).T, test_data_onehot.toarray() ))

print complete_test

In [34]:
classifier = RandomForestClassifier()
model = classifier.fit(train_data_onehot, train_labels)
print model.score(dev_data_onehot, dev_labels)

0.164666021297

In [ ]:
classifier = DecisionTreeClassifier()
model = classifier.fit(train_data_onehot, train_labels)
print model.score(dev_data_onehot, dev_labels)

In [ ]:
classifier = LogisticRegression()
model = classifier.fit(train_data_onehot, train_labels)
print model.score(dev_data_onehot, dev_labels)

In [ ]:
classifier = BernoulliNB()
model = classifier.fit(train_data_onehot, train_labels)
print model.score(dev_data_onehot, dev_labels)

In [ ]:
classifier = MultinomialNB()
model = classifier.fit(train_data_onehot, train_labels)
print model.score(dev_data_onehot, dev_labels)

In [ ]:
0.232102539981

In [34]:
print train_data_onehot.shape
print dev_data_onehot.shape
print test_data_onehot.shape

(702439, 165)
(175610, 165)
(884262, 165)

In [ ]:
predictions = model.predict_proba(test_data_onehot)
withId  = np.column_stack((map(str,xrange(test_data_onehot.shape[0])),predictions))
towrite = np.row_stack((["Id"] + sorted(train_labels.unique()),withId))

print(towrite)
write_submission('submission_MultiNB.csv', towrite)

In [22]:
print category_names
k = map(lambda x: abs(hash(x)),category_names)
len(np.unique(np.array(k)))

['ARSON', 'ASSAULT', 'BAD CHECKS', 'BRIBERY', 'BURGLARY', 'DISORDERLY CONDUCT', 'DRIVING UNDER THE INFLUENCE', 'DRUG/NARCOTIC', 'DRUNKENNESS', 'EMBEZZLEMENT', 'EXTORTION', 'FAMILY OFFENSES', 'FORGERY/COUNTERFEITING', 'FRAUD', 'GAMBLING', 'KIDNAPPING', 'LARCENY/THEFT', 'LIQUOR LAWS', 'LOITERING', 'MISSING PERSON', 'NON-CRIMINAL', 'OTHER OFFENSES', 'PORNOGRAPHY/OBSCENE MAT', 'PROSTITUTION', 'RECOVERED VEHICLE', 'ROBBERY', 'RUNAWAY', 'SECONDARY CODES', 'SEX OFFENSES FORCIBLE', 'SEX OFFENSES NON FORCIBLE', 'STOLEN PROPERTY', 'SUICIDE', 'SUSPICIOUS OCC', 'TREA', 'TRESPASS', 'VANDALISM', 'VEHICLE THEFT', 'WARRANTS', 'WEAPON LAWS']

39

In [25]:
X_train = np.array(train_data)
X_test = np.array(dev_data)


y_train = train_labels.astype('category')
y_train = y_train.cat.rename_categories(range(len(y_train.unique())))


y_test = dev_labels.astype('category')
y_test = y_test.cat.rename_categories(range(len(y_test.unique())))

In [ ]:
print np.array(y_train).shape
print X_train.shape

print np.array(y_test).shape
print X_test.shape

rt = train_data_onehot.toarray()
print rt.shape


collist=train_data.columns.tolist()
scaler = preprocessing.StandardScaler()
scaler.fit(train_data)
train_data[collist]=scaler.transform(train_data)

collistdev=dev_data.columns.tolist()
scalerdev = preprocessing.StandardScaler()
scalerdev.fit(dev_data)
dev_data[collistdev]=scaler.transform(dev_data)

In [57]:
train_data.sort('Year', ascending=0).head(10)

/Users/koza/ipykernel/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

       DayOfWeek  PdDistrict    region      Hour     Month      Year       Day
13626  -1.476146   -1.203771  0.376289  0.853146 -1.002416  1.731284 -1.089880
18214   0.991978    1.240368 -2.948395 -0.215532 -1.294131  1.731284  0.162599
8679    1.485603    0.891206  0.297129  0.089805 -0.710701  1.731284 -1.659189
11175   0.498354   -1.203771  1.247039  0.242473 -1.002416  1.731284  0.390323
19240  -0.488896   -0.505446  0.138811  0.853146 -1.294131  1.731284 -0.976018
10911  -1.476146   -1.203771  0.376289 -1.742216 -1.002416  1.731284  0.504184
18883   0.004729   -1.203771  1.247039  0.700478 -1.294131  1.731284 -0.862157
12190   0.991978    1.240368 -2.552600 -1.894884 -1.002416  1.731284  0.162599
22403  -0.488896    0.891206  0.297129 -0.826206 -1.585846  1.731284  0.959631
9521   -0.982521    0.891206  0.217970 -0.062864 -1.002416  1.731284  1.642802

In [27]:
from keras.models import Sequential
from keras.optimizers import SGD
from keras.layers.advanced_activations import PReLU
from keras.layers.core import Dense, Dropout, Activation
from keras.layers.normalization import BatchNormalization
from keras.utils import np_utils

Using Theano backend.

In [53]:
output_dim = 39
input_dim = 165
Nlayers = 1
Nepoch = 20
dp = 0.5



model = Sequential()
model.add(Dense(input_dim=input_dim, output_dim=output_dim, init='glorot_uniform'))
model.add(PReLU(input_shape=(input_dim,)))
model.add(Dropout(dp))

for i in range(Nlayers):
    model.add(Dense(input_dim=input_dim, output_dim=output_dim,init='glorot_uniform'))
    model.add(PReLU(input_shape=(input_dim,)))
    model.add(BatchNormalization())
    model.add(Dropout(dp))

model.add(Dense(input_dim=input_dim, output_dim=output_dim,init='glorot_uniform'))
model.add(Activation('softmax'))
model.compile(loss='sparse_categorical_crossentropy', optimizer='adam', metrics=['accuracy'])
    
    

model.fit(train_data_onehot.toarray(), y_train, nb_epoch=Nepoch, batch_size=32)

Epoch 1/20
702439/702439 [==============================] - 40s - loss: 2.6779 - acc: 1.2243e-04
Epoch 2/20
702439/702439 [==============================] - 42s - loss: 2.6246 - acc: 0.0000e+00
Epoch 3/20
428768/702439 [=================>............] - ETA: 16s - loss: 2.6193 - acc: 0.0000e+00

KeyboardInterrupt: